{{if or .EnableOpenIDSignIn .EnableSSPI}}
<div class="sc-tabs-nav  sc-tabs-nav_center">
	<a class="{{if .PageIsLogin}}sc-tabs-nav__item_active {{end}}sc-tabs-nav__item" rel="nofollow" href="{{AppSubUrl}}/user/login">
		{{.locale.Tr "auth.login_userpass"}}
	</a>
	{{if .EnableOpenIDSignIn}}
	<a class="{{if .PageIsLoginOpenID}}sc-tabs-nav__item_active {{end}}sc-tabs-nav__item" rel="nofollow" href="{{AppSubUrl}}/user/login/openid">
		{{svg "fontawesome-openid"}}
		&nbsp;OpenID
	</a>
	{{end}}
	{{if .EnableSSPI}}
	<a class="sc-tabs-nav__item" rel="nofollow" href="{{AppSubUrl}}/user/login?auth_with_sspi=1">
		{{svg "fontawesome-windows"}}
		&nbsp;SSPI
	</a>
	{{end}}
</div>
{{end}}
