<div class="sc-box sc-box_attached gt-mb-4">
	<h4 class="sc-box__header">
		{{.locale.Tr "settings.manage_oauth2_applications"}}
	</h4>

{{template "user/settings/applications_oauth2_list" .}}
</div>

