<div class="four wide column">
	<div class="ui fluid vertical menu">
		<div class="header item">{{.locale.Tr "org.settings"}}</div>
		<a
			class="{{if .PageIsSettingsOptions}}active {{ end }}item"
			href="{{.RepoLink}}/settings"
		>
			{{.locale.Tr "repo.settings.options"}}
		</a>

		{{ if not EnableOneWork }}
			{{if not EnableRoleModel}}
			<a class="{{if .PageIsSettingsCollaboration}}active {{end}}item" href="{{.RepoLink}}/settings/collaboration">
				{{.locale.Tr "repo.settings.collaboration"}}
			</a>
			{{end}}
		{{ end }}

		<a
			class="{{if .PageIsSettingsBranches}}active {{ end }}item"
			href="{{.RepoLink}}/settings/branches"
		>
			{{.locale.Tr "repo.settings.branches"}}
		</a>
		<a class="{{if .PageIsSettingsReview}}active {{ end }}item"
			 href="{{.RepoLink}}/settings/review_settings" >
			{{.locale.Tr "repo.settings.review"}}
		</a>
		<a
			class="{{if .PageIsSettingsTags}}active {{ end }}item"
			href="{{.RepoLink}}/settings/tags"
		>
			{{.locale.Tr "repo.settings.tags"}}
		</a>
		{{if not DisableWebhooks}}
		<a
			class="{{if .PageIsSettingsHooks}}active {{ end }}item"
			href="{{.RepoLink}}/settings/hooks"
		>
			{{.locale.Tr "repo.settings.hooks"}}
		</a>
		{{ end }}
		{{if .SignedUser.CanEditGitHook}}
		<a
			class="{{if .PageIsSettingsGitHooks}}active {{ end }}item"
			href="{{.RepoLink}}/settings/hooks/git"
		>
			{{.locale.Tr "repo.settings.githooks"}}
		</a>
		{{ end }}
		<a
			class="{{if .PageIsSettingsKeys}}active {{ end }}item"
			href="{{.RepoLink}}/settings/keys"
		>
			{{.locale.Tr "repo.settings.deploy_keys"}}
		</a>
		<a
			class="{{if .PageIsSettingsSonar}}active {{ end }}item"
			href="{{.RepoLink}}/settings/sonar"
		>
			{{.locale.Tr "repo.settings.sonar"}}
		</a>

		{{if and .EnableActions (not .UnitActionsGlobalDisabled) (.Permission.CanRead $.UnitTypeActions)}}
		<div class="item">
			{{.locale.Tr "actions.actions"}}
			<div class="menu">
				<a
					class="{{if .PageIsSharedSettingsRunners}}active {{ end }}item"
					href="{{.RepoLink}}/settings/actions/runners"
				>
					{{.locale.Tr "actions.runners"}}
				</a>
				<a
					class="{{if .PageIsSharedSettingsSecrets}}active {{ end }}item"
					href="{{.RepoLink}}/settings/actions/secrets"
				>
					{{.locale.Tr "secrets.secrets"}}
				</a>
			</div>
		</div>
		{{ end }}
	</div>
</div>
