.override .git-hook-form {
  display: flex;
  flex-direction: column;
}

.override .git-hook-form .form-row {
  display: flex;
  width: 100%;
  gap: 24px;
}

.override .git-hook-form .field {
  width: 100%;
}
.override .git-hook-form .hint-field {
  display: none;
  color: #E63C1A;
}

.override .git-hook-form .field.invalid input {
  border-color: #E63C1A;
}

.override .git-hook-form .field.invalid .hint-field  {
  display: block;
}




.override .git-hook-form .hint {
  background-color: #F9F9F9;
  padding: 16px;
  color: #737B8C;
  font-size: 13px;
  border-radius: 8px;
}

.override .git-hook-form .hint ul {
  margin: 0;
  padding-left: 16px;
}

.override .git-hook-form .controls {
  margin-top: 24px;
}


.override .admin-setting-content .git-hook-form  .button.primary:not(:disabled):hover {
  background-color: #4799EB;
}


.override .admin-setting-content .git-hook-form  .button:not(:disabled):hover {
  border-radius: 8px;
}
